* {
	margin: 0;
}

html, body {
	background-color: #eaeaea;
	height: 100%;
}

.top-nav-bar {
	background-color: #1a1a1a;
}

.main-title {
	background-image: url("/img/graph_bg.png");
	background-size: cover;
	padding-top: 80px;
	color: #ffffff;
	background-color: #ce9a0b;
	height: 380px;
}

.main-page-logo {
	background-image: url("/img/logo_white.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 150px;
	width: 100px;
}

.logo-header {
	width: 100px;
	background-image: url("/img/logo_white_r.png");
	height: 30px;
	margin-top: 10px;
	background-size: contain;
	background-repeat: no-repeat;
}

#login-incorrect {
	display: none;
}

.login-dropdown-menu {
	padding: 0 10px 0 0;
}

.login-form-group {
	margin: 10px auto;
}

#login-button {
	float: right;
}

#account-pannel-link {
	display: none;
}

#account-name-top {
	color: #cccccc;
}

#logout-container {
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-links a {
	color: #878787;
}

.footer-links {
	padding-top: 10px;
	height: 50px;
	color: #878787;
	background-color: #1c1c1c;
	font-size: 10px;
	padding-right: 100px;
}

.logo-foot {
	background-image: url("/img/logo_white_r.png");
	margin-top: 10px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-logo {
	background-color: #1c1c1c;
	padding-top: 5px;
	padding-left: 100px;
	height: 50px;
}

.main-how-works-wrapper {
	padding: 1% 4% 2% 4%;
	background-color: #000000;
	min-height: 200px;
	color: #ffffff;
	font-size: 1.2em;
	padding-bottom: 10px;
}

ul.main-how-works-ul {
	padding: 10px;
	list-style-type: none;
}

.yellow-text {
	color: #deaa1b;
}

.main-high-availability-wrapper {
	color: #0f4e70;
	background-image: url(/img/60-lines.png);
	background-color: #eccb47;
	padding: 1% 4% 3% 4%;
	font-size: 1.2em;
}

.red-text {
	color: #cd3f26;
}

.main-management {
	background-color: #ac354f;
	color: #fff;
	font-size: 1.3em;
	padding: 2% 0 1% 3%;
	min-height: 340px;
}

.main-pricing-wrapper {
	background-color: #2563ab;
	color: #eeeeee;
}

.info>.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0;
	padding-top: 10px;
}

.main-pricing-cols {
	padding-bottom: 20px;
}

.main-instance-pannel {
	width: 50%;
	margin: 0 auto;
	width: 500px;
	text-align: left;
}

ul.main-instance-pannel-info {
	padding-top: 10px;
}

ul.main-instance-pannel-info li {
	color: #444444;
	font-size: 0.75em;
	list-style-type: none;
}

.main-suscribe-column {
	background-image: url(/img/60-lines.png);
	background-color: #609572;
	min-height: 330px;
	color: #ffffff;
	font-size: 1.2em;
	padding: 60px 0 0 10%;
}

.main-suscribe-form {
	padding: 66px 0 0 1%;
}

.special-text {
	color: #deaa1b;
	font-weight: bold;
	font-size: 2em;
}

.suscribe-form-elem {
	width: 400px;
}

.cases-of-use-content {
	background-color: #fff;
	color: #383838;
	font-size: 1.1em;
	padding: 70px 5%;
	padding-bottom: 50px;
}

.how_works_image {
	background-image: url("/img/how_works.png");
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 750px;
	height: 150px;
	padding-top: 80px;
	margin: 0 auto;
}

.prices-disclamer {
	margin-top: 40px;
}

.pricing-page-body {
	padding: 50px 5% 0 5%;
	color: #ffffff;
	min-height: 500px;
	font-size: 1.1em;
	background-color: #0f4e70;
	color: #eeeeee;
	background-color: #2563ab;
}

.pricing-head {
	padding-bottom: 20px;
}

.pricing-body {
	height: 100%;
	min-height: 500px;
}

.api-page-body {
	padding-top: 50px;
}

.api {
	background-color: #262c4a;
	font-size: 1.2em;
	height: 3920px;
	color: #ffffff;
	padding-top: 20px;
	padding-right: 50px;
	background-image: url(/img/60-lines.png);
}

.api-code {
	margin-left: 30px;
	padding: 5px;
}

.json-examples-pre {
	width: 170px;
	height: 180px;
	background-color: white;
	padding: 0;
	margin-left: 60px;
}

.json-examples {
	background-color: white;
	padding: 0;
	padding-left: 10px;
	margin: 0;
}

.contact-form-wrapper {
	background-color: #609572;
	min-height: 300px;
	color: #ffffff;
	font-size: 1.2em;
	padding: 20px 0 0 10%;
}

.main-title.contact-title {
	height: 320px;
}

ul.group-desc {
	padding: 10px;
	list-style-type: none;
}

.group-shards-by-group {
	width: 260px;
}

.shards-pannel {
	width: 100%;
	margin-top: 10px;
}

.status-shard-label {
	float: right;
}

.progress-bar-shard {
	width: 50%;
	display: inline;
	float: right;
	margin-right: 20px;
}

.animated-char {
	width: 95%;
	margin: 0;
	height: 200px;
}

.shards-container {
	padding-left: 10px;
}

#shads-container {
	min-height: 400px;
}

.special-text-small {
	font-size: 1em;
}

.json-examples-scores-data {
	width: 150px;
	height: 220px;
	background-color: white;
	padding: 0;
	margin-left: 60px;
}

.api-page-header {
	color: #ff2222;
}
