* {
    margin: 0;
}

html, body {
    background-color: #eaeaea;
    height: 100%;
}

.container-fluid {
        min-height: 100%;
}

#log-out-div {
    display: none;
}

#login-form {
    display: none;
}

#account-pannel-link {
    display: none;
}

#login-incorrect {
    display: none;
}

#account-name-top {
    display: none;
    color: #cccccc;
    padding-right: 10px;
}

.group-shards-by-group {
    width: 260px;
}

.shards-pannel {
    width: 100%;
    height: 600px;
    margin-top: 10px;
}

.progress-bar-shard {
    width: 50%;
    display: inline;
    float: right;
    margin-right: 20px;
}

ul.group-desc {
    padding: 10px;
    list-style-type: none;
}

.animated-char {
    width: 95%;
    margin: 0;
    height: 200px;
}

.shards-container {
    padding-left: 10px;
}

.status-shard-label {
    float: right;
}

.main-title {
    background-image: url("/img/graph_bg.png");
    background-size: cover;
    padding-top: 80px;
    color: #ffffff;
    background-color: #ce9a0b;
    height: 380px;
}

.main-page-logo {
    background-image: url("/img/logo_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 150px;
    width: 100px;
}

.main-suscribe {
    background-color: #609572;
    min-height: 330px;
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 100px;
}

.main-suscribe-form {
    padding-left: 0;
    padding-top: 30px;
}

.yellow-text {
    color: #deaa1b;
}

.special-text {
    color: #deaa1b;
    font-weight: bold;
    font-size: 2em;
}

.suscribe-form-elem {
    width: 400px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    color: #878787;
}

.footer-links {
    padding-top: 10px;
    height: 50px;
    color: #878787;
    background-color: #1c1c1c;
    font-size: 10px;
    padding-right: 100px;
}

.footer-logo {
    background-color: #1c1c1c;
    padding-left: 100px;
    height: 50px;
}

.main-how-works {
    padding-top: 20px;
    min-height: 450px;
    color: #ffffff;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.main-how-works-wrapper {
    padding: 0 0px 5% 5%;
    background-color: #242424;
}

ul.main-how-works-ul {
    padding: 10px;
    list-style-type: none;
}

.main-high-availability-wrapper {
    padding: 0 10px 5% 5%;
    background-color: #e8e8e8;
}

.main-high-availability {
    padding-top: 20px;
    font-size: 1.5em;
    min-height: 330px;
}

.main-instance-pannel {
    width: 50%;
    margin: 0 auto;
    width: 500px;
    text-align: left;
}

ul.main-instance-pannel-info {
    padding-top: 10px;
}

ul.main-instance-pannel-info li {
    color: #444444;
    font-size: 0.75em;
    list-style-type: none;
}

.special-text-small {
    font-size: 1em;
}

.logo-header {
    width: 100px;
    background-image: url("/img/logo_white_r.png");
    margin-top: 10px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-foot {
    background-image: url("/img/logo_white_r.png");
    margin-top: 10px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.prices-disclamer {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    font-size: 0.75em;
}

.cases-of-use-body {
    background-color: #ce9a0b;
    padding-top: 20px;
    font-size: 1.2em;
    height: 100%;
    color: #ffffff;
}

.cases-of-use-title {
    padding-top: 50px;
    color: #ffffff;
    background-color: #ce9a0b;
    height: 140px;
}

.cases-of-use-content {
    color: #ffffff;
    font-size: 1.3em;
    background-color: #ce9a0b;
    padding-left: 100px;
    padding-right: 100px;
}

.cases-of-use-subtitle {
    color: #d03b3b;
    text-transform: capitalize;
}

.main-management-wrapper {
    padding: 0 0px 5% 5%;
    background-color: #eccb47;
}

.main-management {
    padding-top: 35px;
    font-size: 1.3em;
    min-height: 390px;
    color: #0f4e70;
}

.main-management h2 {
    margin-top: 0;
}

.main-index {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 1.2em;
    height: 100%;
}

.pricing {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #387d51;
    height: 100%;
    font-size: 1.1em;
}

.pricing-body {
    height: 100%;
    min-height: 100%;
}

.pricing-head {
    padding: 0 70px;
}

.main-pricing {
    background-color: #0f4e70;
    padding-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}

.main-pricing-cols {
    min-height: 530px;
}

.main-pricing-head {
    height: 100px;
}

.api {
    background-color: #0f4e70;
    font-size: 1.2em;
    height: 2120px;
    color: #ffffff;
    padding-top: 70px;
    padding-right: 50px;
}

.api-code {
    margin-left: 30px;
    padding: 5px;
}

.green-text {
    color: #9ec6ae;
}

.json-examples-pre {
    width: 170px;
    height: 180px;
    background-color: white;
    padding: 0;
    margin-left: 60px;
}

.json-examples {
    background-color: white;
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

.api h4 {
    color: #d79d00;
    font-weight: bold;
}

.contact-form {
    background-color: #609572;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 1.2em;
    height: 100%;
}

.contact-form-container {
    padding-top: 50px;
    min-height: 200px;
    background-color: #609572;
    color: #ffffff;
}

.contact-form-left {
    padding-left: 200px;
}
